.sidebar {
  width: 100px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
  background-color: #222;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.sidebar-icon {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  size: 40px;
}

.icon-name {
  font-size: 20px;
}

.expand-button {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

.expanded {
  width: 200px;
}

.sidebar-icon .dropdown-options {
  overflow: hidden;
  /* transition: max-height 2s ease-in-out; */
}

.sidebar-icon.active .dropdown-options {
  overflow: hidden;
  /* transition: max-height 2s ease-in-out; */
}

.dropdown-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 0px;
  transition: max-height 0.3s ease-in-out;
}

.big{
  max-height: 50px;
}
.option {
  padding: 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.option:hover {
  background-color: #555;
}

.option:hover,
.option:active {
  color: #fff;
}

.option:active {
  background-color: #444;
}
